<h1>Manufacturers Pianos</h1>

<%= form_tag("/manufacturerspianos/#{@manufacturers.id}/index") do %>
<p> Price: <%= number_field_tag :prices, params[:filter], method: :post %> </p>

<%= submit_tag :prices %>
<% end %>



<% @manufacturerspianos.each do |piano| %>
  <h2>

    <a href="/pianos/<%= piano.id %>">
      Model <%= piano.model %>
       <%= "Style #{piano.style}" if piano.style.nil? == false%></a></h2>
  <h4><%= link_to "Edit Piano", "/pianos/#{piano.id}/edit"%></h4>
  <p><ul>
      <li> Model: <%= piano.manufacturer.maker %> </li>
      <li> Style: <%= piano.style %> </li>
      <li> Price: <%= piano.price %> </li>
      <li> Color: <%= piano.color %> </li>
      <li> Acoustic: <%= piano.acoustic%> </li>
    </ul>
  </p>
  <p, class = 'delete'><%= button_to 'Delete Piano', "/pianos/#{piano.id}", method: :delete %> </p>
<% end %>

<p><%= link_to "Create Piano", "/manufacturerspianos/#{@manufacturers.id}/new" %></p>
<p> <%= link_to "Sort by price", request.params.merge(:sort => "price") %> </p>
