<h1>Compositions by <%= "#{@compositions.first.composer.name}"%></h1>
<p><%@compositions.each do  |piece| %>
  <ul>
    <li> Opus <%= piece.opus %>
           <%= "No. #{piece.number}" if piece.number.nil? == false%> </li>
    <li> Date of Composition: <%= piece.composition_date %> </li>
    <li> Key Signature: <%= piece.key_signature %> </li>
    <li> Composer's Age at Composition: <%= piece.age_at_time_of_composition %> </li>
    <li> <%= piece.piano%> </li>
      <% if piece.nickname %>
    <li> Nickname: <%= piece.nickname %> </li>
         <% end %>
  </ul>
  <% end %>
</p>
<%= link_to 'New Piece', "/composers/#{@compositions.first.composer.id}/pieces/new" %>
<h3>  Sort Pieces by: </h3>
<p> <%= link_to "Opus and Number", request.params.merge(:sort => ["opus", "number"]) %> </p>
<p> <%= link_to "Date", request.params.merge(:sort => "composition_date") %> </p>
