<h1>Compositions by <%= "#{@own_works.first.composer.name}"%></h></h1>
<p><%@own_works.each do  |piece| %>
  <ul>
    <li> Composer: <%= piece.composer.name %> </li>
    <li> Date of Composition: <%= piece.composition_date %> </li>
    <li> Key Signature: <%= piece.key_signature %> </li>
    <li> Composer's Age at Composition: <%= piece.age_at_time_of_composition %> </li>
    <li> <%= piece.piano%> </li>
      <% if piece.nickname %>
    <li> Nickname: <%= piece.nickname %> </li>
         <% end %>
  </ul>
  <% end %>
</p>
