
<h1>Compositions by <%= "#{@composer.name}"%></h1>
<%@compositions.each do  |piece| %>
<h3><%= link_to "Edit Piece", "/pieces/#{piece.id}/edit" %></h3>
  <ul>
    <li> Opus <%= piece.opus %>
           <%= "No. #{piece.number}" if piece.number.nil? == false%> </li>
    <li> Date of Composition: <%= piece.composition_date %> </li>
    <li> Key Signature: <%= piece.key_signature %> </li>
    <li> <%= piece.piano%> </li>
      <% if piece.nickname %>
    <li> Nickname: <%= piece.nickname %> </li>
         <% end %>
  </ul>
<% end %>
<%= link_to 'New Piece', "/composers/#{@composer.id}/pieces/new" %>
<h3>  Sort Pieces by: </h3>
<p> <%= link_to "Opus and Number", request.params.merge(:sort => ["opus", "number"]) %> </p>
<p> <%= link_to "Date", request.params.merge(:sort => "composition_date") %> </p>
