<%= form_with  method: :patch, local:true, id: 'form' do |form| %>
<h4><%= form.label :name %> </h4>
  <p><%= form.text_field :name, value:@composer.name %></p>
<h4><%= form.label :birth_year %></h4>
  <p><%= form.number_field :birth_year, value:@composer.birth_year %></p>
<h4><%= form.label :death_year %></h4>
  <p><%= form.number_field :death_year, value:@composer.death_year %></p>
<h4><%= form.label :musical_era %></h4>
  <p><%= form.text_field :musical_era, value:@composer.musical_era %></p>
<h4><%= form.label :ethnicity %></h4>
  <p><%= form.text_field :ethnicity, value:@composer.ethnicity %></h4>
<h4><%= form.label :number_of_compositions %></h4>
  <p><%= form.number_field :num_compositions, value:@composer.num_compositions %></p>
<%= form.submit 'Edit Composer' %>
<% end %>
