<h1>Composers</h1>
<% @composers.each do |composer| %>
  <h3><a href="/composers/<%= composer.id %>"><%= composer.name %></a></h3>
  <%= link_to 'Edit Composer', "/composers/#{composer.id}/edit" %>
  <p><%= composer.created_at.in_time_zone('MST').strftime("Created on %m/%d/%Y at %I:%M %p")   %> </p>
  <p><%= composer.updated_at.in_time_zone('MST').strftime("Updated on %m/%d/%Y at %I:%M %p")   %> </p>
  <% end %>

<%= link_to 'New Composer', '/composers/new' %>
