<!-- <a href="/composers">Composer Index</a> -->

<h1><%= @composer.name %></h1>
<h2><%= @composer.name %> was a <%= @composer.ethnicity %> composer born in <%= @composer.birth_year %> and died in <%= @composer.death_year %>. He was apart of the <%= @composer.musical_era %>
era and wrote over <%= @composer.num_compositions %> compositions!</h></h2>
