<!-- <a href="/composers">Composer Index</a> -->

<h1><%= @composer.name %></h1>
<h3>There are currently <%= @composer.pieces.count %> pieces by this composer in the databse. </h3>
<ul>
  <li> Ethnicity: <%= @composer.ethnicity %> </li>
  <li> Birth Year: <%= @composer.birth_year %> </li>
  <li> Death Year: <%= @composer.death_year %> </li>
  <li> Musical Era: <%= @composer.musical_era %> </li>
  <li>  Number of Compositions: <%= @composer.num_compositions %>  </li>
  <li> Tonal: <%= @composer.tonal ? 'Yes' : 'No' %></li>
</ul>
<p><%= link_to "Edit Composer", "#{@composer.id}/edit" %> </p>
<p> <%= link_to "Composer's Pieces", "#{@composer.id}/pieces" %> </p>
