<h1>Learned Pieces</h1>
<h2>There are <%= @pieces.count %> pieces with multiple instruments in the database. </h2>
<% @compositions do |piece| %>
  <h2>

    <a href="/pieces/<%= piece.id %>">
      Opus. <%= piece.opus %>
       <%= "No. #{piece.number}" if piece.number.nil? == false%></a></h2>
  <h4><%= link_to "Edit Piece", "/pieces/#{piece.id}/edit"%></h4>
  <p>
    <ul>
      <li> Composer: <%= piece.composer.name %> </li>
      <li> Type of Piece: <%= piece.type_of_piece %> </li>
      <li> Date of Composition: <%= piece.composition_date %> </li>
      <li> Key Signature: <%= piece.key_signature %> </li>
      <li> <%= piece.piano%> </li>
       <% if piece.nickname %>
      <li> Nickname: <%= piece.nickname %> </li>
        <% end %>
    </ul>
  </p>
<% end %>
