<h1>Learned Pieces</h1>

<% @pieces.each do |piece| %>
  <h3><a href="/pieces/<%= piece.id %>">
    <%= piece.type_of_piece %>
    Opus. <%= piece.opus %>
     <%= "No. #{piece.number}" if piece.number.nil? == false%>
     <%= piece.nickname%></a>
  </h3>
<% end %>
